.signupBtn{
  color: white;
  border: none;
  margin: 5px;
  padding: 10px;
  padding-left:40px;
  padding-right:40px;
  border-radius: 15px;
  background-color: #253D4C;
  letter-spacing: 2px;
  margin-top: 20px;
}

.signupBtn:hover{
  background-color: #1F3340;
}

.signupBtn:active{
  outline: none;
  animation: pulse .3s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
