.signupBtn{
  border-radius: 15px;
  border: none;
  padding: 10px;
  padding-left:40px;
  padding-right:40px;
  margin: 5px;
}

.signupBtn:hover{
  background-color: #777;
}

.signupBtn:active{
  animation: pulse .3s;
  outline: none;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
