input {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid;
  font-weight: 200;
  color: grey;
  padding-left: 0;
  box-shadow: none;
  outline: none;
  padding: 10px;
}
.bigmama{
display: inline-block;
}

.recipeFormBox{
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #222;
  width: 40vw;
  float: left;
}

.addFlavor {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 150px;
  border: transparent;
  background-color: teal;
  color: white;
  margin-right: 15px;
}

.addRecipeBtn{
  color: white;
  background-color: teal;
  border-radius: 15px;
  border: none;
  padding: 10px;
  padding-left:40px;
  padding-right:40px;
  margin: 5px;
}

.addRecipeBtn:hover{
  background-color: #006767;
}


.personalRecipeFormBox{
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #222;
  width: 45vw;
  float: right;
}
