input {
  color: #222;
  outline: none;
  padding: 5px;
  box-shadow: none;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  font-weight: 300;
  padding-left: 6px;
  border-right: transparent;
  border-bottom: 2px solid;
  margin: 2px;
}

::-webkit-input-placeholder {
   color: #823D25;
   opacity: .7;
}

.bigmama{
  display: inline-block;
}

.recipeFormBox{
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #222;
  width: 40vw;
  float: left;
}

.addFlavor {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 150px;
  border: transparent;
  background-color: #609680;
  color: white;
  margin-right: 15px;
}

.addRecipeBtn{
  color: white;
  background-color: #609680;
  border-radius: 15px;
  border: none;
  padding: 10px;
  padding-left:40px;
  padding-right:40px;
  margin: 5px;
  margin-top: 30px;
  outline: none;
}

.addRecipeBtn:hover{
  background-color: #608A80;
}


.personalRecipeFormBox{
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #222;
  width: 45vw;
  float: right;
}

.addRecipeBtn:active{
  outline: none;
  animation: pulse .3s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(.90, .90, .90);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

