/*webscket help from sang min na*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message-popup {
  font: 13px Helvetica, Arial;
  background-color: #222;
  position: absolute;
  right: .1vw;
  bottom: 0;
  z-index: 50;
  display: none;
  position: fixed;
  width: 55vw;
  height: 62vh;
  border-radius: 8px;

}

.message-header {
  text-align: right;
  padding-right: 1.2vw;
  background-color:#253D4C;
  color: #FAFAFA;
  font-size: 1vw;
  font-weight: bold;
  height: 3vh;
  width: 55vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.message-header:hover {
  cursor: pointer;
}

.socket-form {
  position: absolute;
  bottom: 0;
  background: #444;
  padding: 3px;
  width: 55vw;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.socket-form input {
  border: 0;
  padding: 10px;
  width: 50vw;
  height: 5vh;
  margin-right: .5%;
}


.socket-form button {
  width: 4.8vw;
  background-color: #253D4C;
  border: none;
  padding: 8px;
  border-radius: 8px;
  float: left;
  margin: 2px;
}

.socket-form button :hover {
  background-color: #1F3340;

}

.screen {
  background-color: #888581FF;
  width: 55vw;
  height: 20vh;

}

#m{
  background-color: #888;
  padding-bottom: 25px;
  border: 2px solid #222;
}


#messages {
  width: 55vw;
  height: 20vh;
  overflow: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  width: 55vw;
  padding: 5px 10px;
  background: #E5E5E5;
}

#messages li:nth-child(odd) {
  width: 55vw;
  background: #999;
}
