*{
  font-family: helvetica;

}

header {
  background-color: #C95E3A;
  padding: 30px;
}

header h1 {
  color: #FAFAFA;
  margin: 0;
  font-size: 5em;
  text-shadow: 3px 1px 2px #222;
}

/*h5{
  color: #823D25;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}*/

#description-body {
  padding: 30px;
}

/*#app-container{
  background-image: url(http://i.imgur.com/vEsU9Tp.png);
}*/

body{
    background-image: url(http://i.imgur.com/vEsU9Tp.png);

}


#open-chat {
  margin-top: .3vh;
  cursor: pointer;
  font-size: 1vw;
  position: fixed;
  right: 1vw;
  bottom:1vw;
  padding: 1vh 1vw;
  color: #FAFAFA;
  border: transparent;
  border-radius: 5px;
  width: 16vw;
  height: 4vh;
  text-align: center;
  background-color: #609680;
}

#open-chat:hover{
  background-color: #608A80;
}

#open-chat:active{
  animation: pulse .3s;
  outline: none;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    transform: scale3d(.5, .5, .5);
  }
}

.pulse {
  animation-name: pulse;
}


