header {
  background-color: #393939;
  padding: 20px;
}

header h1 {
  color: #FAFAFA;
  margin: 0;
  font-family: sans-serif;
}

#description-body {
  padding: 20px;
}

/*#app-container{
  background-image: url(http://i.imgur.com/vEsU9Tp.png);
}*/

body{
    background-image: url(http://i.imgur.com/vEsU9Tp.png);

}
