.logoutBtn, .loginBtn{
  margin: 5px;
  border: none;
  outline: none;
  padding: 10px;
  padding-left:40px;
  padding-right:40px;
  border-radius: 15px;
  letter-spacing: 2px;
}

.logoutBtn{
color: #fafafa;
float: right;
background-color: #B05232;
}

.loginBtn{
  color: #fafafa;
  background-color: #253D4C;
  padding-right: 50px;
}

.loginBtn:hover{
  background-color: #1F3340;
}


.logoutBtn:hover{
  background-color: #94452A;
}


.loginBtn:active{
  animation: pulse .3s;
  outline: none;
}

.logoutBtn:active{
  animation: pulse .3s;
  outline: none;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
