.logoutBtn, .loginBtn{
  border-radius: 15px;
  border: none;
/*  outline: none;
*/  padding: 10px;
  padding-left:40px;
  padding-right:40px;

  margin: 5px;
}
.loginBtn:hover{
  background-color: #777;
}
.logoutBtn:hover{
  background-color: #777;
}
